<html>
<head>
    <style>
    h1 {text-align: center;}
    form {text-align: center;}

    </style>
    <title> </title>
</head>
<body>
    <h1>Bug Report</h1>
    <br><br/>
    <form method='POST' action='./'>
		<p style= "font-size:20px;"> We apologize for the inconvenience. Please describe the bug you found and we will do our best to fix it.</p>
		<br><br/>
		<label for='issue-description'>Describe the bug:</label>
		<fieldset>
			<textarea id='issue-description' name='issue-description' rows="6" cols="50"></textarea>
		</fieldset>
        <br><br/>
		<fieldset>
			<label> On which page did the bug occur?</label>
			<input type="which-page" id='which-page' name='which-page'>
		</fieldset>
        <br><br/>
		<button type="submit">Submit Report</button>
	</form>
</body>
</html>