<!DOCTYPE html>
<html lang="en">
    {% extends "base.html" %}
    {% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search-page.css') }}">
    <h1>Search for {{title}} using The Search Bot!</h1>
    <form action="" method="post" novalidate>
        <p>{{ form.search_queries }}</p>
        <p>{{ form.submit }}</p>
    </form>
            <div class="row">
            <div class="column">
                <div class="card">
                    <p><strong><u>Twitter Results</u></strong></p>
                    {% for result_dict in twitter_results_list %}
                        <p>{{ result_dict['username'] }} tweeted: "{{ result_dict['text'] }}"</p> <br/>
                    {% endfor %}
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><strong><u>Instagram Results</u></strong></p>
                    <p>Coming Soon!</p>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <p><strong><u>Facebook Results</u></strong></p>
                    <p>Coming Soon!</p>
                </div>
            </div>
        </div>
    {% endblock %}
</html>