    h1 {
        text-align: center;
    }
    form {
        text-align: center;
    }
    input {
        width: 40%; height: 50px; font-size: 20px;
    }
    button {
        width: 10%; height: 50px; font-size: 20px;
    }
    * {
  box-sizing: border-box;
}

.desc {
    text-align: center;
    font-size: 16px;
    margin: 30px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
  align-items: stretch;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 40px 100px;
    margin-bottom: 2em;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-twitter {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 600px;
  overflow: auto;
}

.card-rest {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 600px;
  overflow: auto;
}

.card a {
    color: orange
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }

  h1 {
    text-align: center;
    margin-top: 40%;
    font-size: 20px;
  }
}